.devHistory-container {
  display: grid;
  grid-template-areas:
    'headerNavComp'
    'devHistory-bio-item'
    'devHistory-details-container';
  grid-template-columns: auto;
  grid-template-rows: 65px auto auto;

  #headerNavComp {
    grid-area: headerNavComp;
  }

  #devHistory-bio-item {
    grid-area: devHistory-bio-item;
    font-family: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin: 50px 30px;

    article {
      h1 {
        margin: 0.5em 0 0.5em;
        line-height: 1em;
        font-size: 30px;
      }
      p:nth-child(2) {
        letter-spacing: 2px;
      }
      p:nth-child(3) {
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }

  #devHistory-details-container {
    grid-area: devHistory-details-container;
    display: grid;
    grid-template-areas:
      'historyDev-query-item historyDev-bar-item'
      'historyDev-query-item historyDev-google-item';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    place-items: center;
    padding: 30px;
    background-color: lighten(#0b6171, 5%);

    #historyDev-query-item {
      grid-area: historyDev-query-item;
      place-self: center;
    }

    #historyDev-bar-item {
      grid-area: historyDev-bar-item;
    }

    #historyDev-google-item {
      grid-area: historyDev-google-item;
    }

    section:nth-child(1) {
      img {
        max-height: 450px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
    section:nth-child(2),
    section:nth-child(3) {
      img {
        max-height: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}
