$inspector-p-font: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$inspector-h1-fontSize: 30px;
$inspector-h1-font: 'din-condensed-web', 'Trebuchet MS', 'Arial Narrow', Arial, sans-serif;
$inspector-p-fontSize: 18px;
$inspector-backgroundColor: lighten(#0b6171, 5%);
$inspector-boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$inspector-background: url(../../../images/inspector_header.png);

.inspector-container {
  display: grid;
  grid-template-areas:
    'headerNavComp'
    'inspector-header-item'
    'inspector-bio-item'
    'inspector-details-container';
  grid-template-columns: auto;
  grid-template-rows: 65px auto auto auto;

  #headerNavComp {
    grid-area: headerNavComp;
  }

  #inspector-bio-item,
  #inspector-details-container {
    text-align: center;
    font-size: $inspector-p-fontSize;
    font-family: $inspector-p-font;
  }

  #inspector-header-item {
    grid-area: inspector-header-item;
    background: $inspector-background;
    background-size: cover;
    background-position: center;
    max-height: 500px;
    min-height: 500px;
  }

  #inspector-bio-item {
    grid-area: inspector-bio-item;
    margin: 50px 30px;
    padding: 0 100px;

    article {
      h1 {
        margin: 0.5em 0 0.5em;
        line-height: 1em;
        font-size: $inspector-h1-fontSize;
        font-family: $inspector-h1-font;
      }
      p:nth-child(2) {
        letter-spacing: 2px;
      }
      p:nth-child(3) {
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }

  #inspector-details-container {
    grid-area: inspector-details-container;
    display: grid;
    grid-template-areas:
      'inspector-homeTxt-item inspector-homeImg-item'
      'inspector-mainImg-item inspector-mainImg-item'
      'inspector-mainTxt-item inspector-mainTxt-item';
    background-color: $inspector-backgroundColor;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 30px;
    padding: 30px;

    #inspector-homeTxt-item {
      grid-area: inspector-homeTxt-item;
      place-self: center;
      padding: 100px;
    }

    #inspector-mainTxt-item {
      grid-area: inspector-mainTxt-item;
      margin: 0 150px;
    }

    #inspector-homeTxt-item,
    #inspector-mainTxt-item {
      color: white;
      text-align: justify;
      text-justify: inter-word;
    }

    #inspector-homeImg-item {
      grid-area: inspector-homeImg-item;
    }

    #inspector-mainImg-item {
      grid-area: inspector-mainImg-item;
    }

    #inspector-mainImg-item,
    #inspector-homeImg-item {
      place-self: center;

      img {
        max-height: 600px;
        box-shadow: $inspector-boxShadow;
      }
    }
  }
}

// .ui.tag.label {
//   margin: 20px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// }
