.myBio-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'myBio-item resume-item'
    'myBio-item linkedin-item'
    'myBio-item github-item'
    'expertise-container expertise-container';
  text-align: justify;
  text-justify: inter-word;
  padding: 0 80px;

  #myBio-item {
    grid-area: myBio-item;
    place-self: center;
    font-size: 22px;
  }

  #expertise-item {
    grid-area: expertise-container;
  }

  #resume-item {
    grid-area: resume-item;
    justify-self: center;
  }

  #linkedin-item {
    grid-area: linkedin-item;
    justify-self: center;
  }

  #github-item {
    grid-area: github-item;
    justify-self: center;
  }

  #resume-item,
  #linkedin-item,
  #github-item {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: rgb(204, 51, 51);

    i.icon {
      font-size: 30px;
      line-height: 1em;
    }

    p {
      font-size: 20px;
      letter-spacing: 2px;
      font-family: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    }

    a {
      color: rgb(204, 51, 51);
    }

    :hover {
      color: black;
    }
  }
}

.expertise-container {
  display: grid;
  grid-template-areas:
    'expertHeader-item expertHeader-item expertHeader-item'
    'frontend-item backend-item others-item';
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  // justify-content: center;
  // place-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 60px;

  i.icon {
    font-size: 30px;
    line-height: 2em;
    color: rgb(204, 51, 51);
  }

  #expertHeader-item {
    grid-area: expertHeader-item;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.1em;
    //margin: 10px 0 20px;
    // border: 3px solid red;

    span {
      background: #fff;
      padding: 0 20px;
    }
  }

  #frontend-item {
    grid-area: frontend-item;
  }

  #backend-item {
    grid-area: backend-item;
  }

  #others-item {
    grid-area: others-item;
  }

  #backend-item,
  #frontend-item,
  #others-item {
    line-height: 1.3em;
    list-style-type: none;
  }
}

@media (max-width: 1000px) {
  .myBio-container {
    grid-template-areas:
      'myBio-item myBio-item myBio-item'
      'resume-item linkedin-item github-item'
      'expertise-container expertise-container expertise-container';
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;

    #resume-item {
      place-self: center;
    }
    #linkedin-item {
      place-self: center;
    }
    #github-item {
      place-self: center;
    }
  }
}
