$pokemon-p-font: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$pokemon-h1-fontSize: 30px;
$pokemon-p-fontSize: 18px;
$pokemon-backgroundColor: lighten(#0b6171, 5%);
$pokemon-background: url(../../../images/pokemon_banner.jpg);
$pokemon-boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

.pokemon-container {
  display: grid;
  grid-template-areas:
    'headerNavComp'
    'pokemon-header-item'
    'pokemon-bio-item'
    'pokemon-tech-item'
    'pokemon-details-container';
  grid-template-columns: auto;
  grid-template-rows: 65px auto auto auto auto;

  #headerNavComp {
    grid-area: headerNavComp;
  }

  #pokemon-header-item {
    grid-area: pokemon-header-item;
    background: $pokemon-background;
    background-size: cover;
    background-position: center;
    max-height: 600px;
    min-height: 600px;
  }

  #pokemon-bio-item,
  #pokemon-details-container {
    font-size: $pokemon-p-fontSize;
    font-family: $pokemon-p-font;
  }

  #pokemon-bio-item {
    grid-area: pokemon-bio-item;
    text-align: center;
    margin: 50px 30px;
    padding: 0 100px;

    article {
      h1 {
        margin: 0.5em 0 0.5em;
        line-height: 1em;
        font-size: $pokemon-h1-fontSize;
      }
      p:nth-child(2) {
        letter-spacing: 2px;
      }
      p:nth-child(3),
      :nth-child(4) {
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }

  #pokemon-tech-item {
    grid-area: pokemon-tech-item;
    place-self: center;
    text-align: center;
    font-size: $pokemon-p-fontSize;
    font-family: $pokemon-p-font;
    margin: 0px 30px 40px 30px;

    span {
      padding: 0 10px;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  #pokemon-details-container {
    grid-area: pokemon-details-container;
    display: grid;
    grid-template-areas:
      'poke-demo-item poke-demo-item'
      'poke-deck-item poke-battle-item'
      'poke-home-item poke-home-item'
      'poke-build-item poke-build-item';
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
    place-items: center;
    padding: 30px;
    background-color: $pokemon-backgroundColor;

    #poke-demo-item {
      grid-area: poke-demo-item;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      text-justify: inter-word;
      color: white;

      p {
        padding: 0 100px;
      }
      img {
        min-width: 600px;
        box-shadow: $pokemon-boxShadow;
      }
    }

    #poke-deck-item {
      grid-area: poke-deck-item;
      img {
        max-height: 500px;
        max-width: 500px;
        box-shadow: $pokemon-boxShadow;
      }
    }

    #poke-battle-item {
      grid-area: poke-battle-item;
      img {
        max-height: 500px;
        max-width: 800px;
        box-shadow: $pokemon-boxShadow;
      }
    }

    #poke-home-item {
      grid-area: poke-home-item;
    }

    #poke-build-item {
      grid-area: poke-build-item;
    }

    #poke-home-item,
    #poke-build-item {
      img {
        max-height: 900px;
        max-width: 900px;
        box-shadow: $pokemon-boxShadow;
      }
    }
  }
}

@media (max-width: 800px) {
  .pokemon-container {
    grid-template-areas:
      'headerNavComp'
      'pokemon-bio-item'
      'pokemon-details-container';
    grid-template-rows: 65px auto auto;

    #pokemon-header-item,
    #pokemon-tech-item {
      display: none;
    }

    #pokemon-bio-item {
      article {
        p:nth-child(3),
        :nth-child(4) {
          display: none;
        }
      }

      span {
        .ui.tag.label,
        .ui.tag.labels .label {
          display: none;
        }
      }
    }

    #pokemon-details-container {
      grid-template-areas:
        'poke-demo-item'
        'poke-deck-item'
        'poke-battle-item'
        'poke-home-item'
        'poke-build-item';
      grid-template-columns: auto;
      grid-template-rows: repeat(5, auto);

      #poke-demo-item,
      #poke-deck-item,
      #poke-battle-item,
      #poke-home-item,
      #poke-build-item {
        p {
          display: none;
        }

        img {
          max-height: 500px;
          max-width: 100%;
          box-shadow: $pokemon-boxShadow;
        }
      }
    }
  }
}
