$portfolio-font: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$portfolio-h1-fontSize: 30px;
$portfolio-p-fontSize: 18px;
$card-span-fontSize: 22px;
$card-p-fontSize: 18px;

.portfolio-container {
  display: grid;
  grid-template-areas:
    'professional-title-item professional-title-item professional-title-item'
    'inspector-item inspector-item deviceHistory-item'
    '. iotProfile-item iotProfile-item'
    'personal-title-item personal-title-item personal-title-item'
    'pokemonBattleArea-item pokemonBattleArea-item responsiveGrid-item'
    'gmailClone-item artAcademy-item toDos-item';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 200px 200px 150px 200px 200px;
  grid-gap: 20px;
  padding: 0 80px 50px;

  .portfolio-title {
    text-align: center;

    h1 {
      margin: 0.5em 0 0.5em;
      line-height: 1em;
      font-size: $portfolio-h1-fontSize;
    }
    p {
      letter-spacing: 2px;
      font-size: $portfolio-p-fontSize;
      font-family: $portfolio-font;
    }
  }

  #professional-title-item {
    grid-area: professional-title-item;
    place-self: center;
  }

  #personal-title-item {
    grid-area: personal-title-item;
    place-self: center;
  }

  #inspector-item {
    grid-area: inspector-item;
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    #inspector-logo {
      position: relative;
      left: 10%;
      max-width: 100%;
      max-height: 100%;
      transform: translateX(-10%);
    }
  }

  #deviceHistory-item {
    grid-area: deviceHistory-item;
    display: flex;
    align-items: center;
    position: relative;
    place-content: center;
    background-color: black;
    cursor: pointer;
    padding: 0 10px;

    #deviceHistory-logo {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
  }

  #iotProfile-item {
    grid-area: iotProfile-item;
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      left: 90%;
      max-width: 100%;
      max-height: 100%;
      transform: translateX(-90%);
    }
  }

  #pokemonBattleArea-item {
    grid-area: pokemonBattleArea-item;
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      left: 10%;
      max-width: 70%;
      max-height: 70%;
      transform: translateX(-10%);
    }
  }

  #responsiveGrid-item {
    grid-area: responsiveGrid-item;
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      max-width: 90%;
      max-height: 90%;
    }
  }

  #gmailClone-item {
    grid-area: gmailClone-item;
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      max-width: 60%;
      max-height: 60%;
    }
  }

  #artAcademy-item {
    grid-area: artAcademy-item;
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      max-width: 60%;
      max-height: 60%;
    }
  }

  #toDos-item {
    grid-area: toDos-item;
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    background-color: black;
    cursor: pointer;

    img {
      position: relative;
      max-width: 200%;
      max-height: 200%;
    }
  }

  .card-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $portfolio-font;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    opacity: 0; //subject to change for dev, 0
    transition: opacity ease-out 250ms;

    span {
      font-size: $card-span-fontSize;
      font-weight: bold;
    }
    p {
      font-size: $card-p-fontSize;
    }
  }

  /* Hover affects */
  #deviceHistory-item,
  #inspector-item,
  #iotProfile-item,
  #pokemonBattleArea-item,
  #responsiveGrid-item,
  #gmailClone-item,
  #artAcademy-item,
  #toDos-item {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0.7em;
      bottom: 0.7em;
      left: 0.7em;
      right: 0.7em;
      opacity: 1; //subject to change, 1
      transition: transform ease-out 250ms;
    }

    &::before {
      transform: scale(0, 1);
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    &::after {
      transform: scale(1, 0);
      border-right: 1px solid white;
      border-left: 1px solid white;
    }

    &:hover::before {
      transform: scale(1.05, 1);
    }
    &:hover::after {
      transform: scale(1, 1.2);
    }

    //hover to show text, 1
    &:hover {
      background: rgb(204, 51, 51);
      .card-text {
        opacity: 1;
      }

      //hover to show logo, 0
      #deviceHistory-logo,
      #inspector-logo,
      #iotProfile-logo,
      #pokemon-logo,
      #respGrid-logo,
      #gmailClone-logo,
      #artAcademy-logo,
      #toDos-logo {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .portfolio-container {
    grid-template-areas:
      'professional-title-item'
      'inspector-item'
      'deviceHistory-item'
      'iotProfile-item'
      'personal-title-item'
      'pokemonBattleArea-item'
      'responsiveGrid-item'
      'gmailClone-item'
      'artAcademy-item'
      'toDos-item';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 250px);
    place-content: center;

    #deviceHistory-item,
    #inspector-item,
    #iotProfile-item,
    #pokemonBattleArea-item,
    #responsiveGrid-item,
    #gmailClone-item,
    #artAcademy-item,
    #toDos-item {
      place-content: center;

      #deviceHistory-logo,
      #inspector-logo,
      #iotProfile-logo,
      #pokemon-logo,
      #respGrid-logo,
      #gmailClone-logo,
      #artAcademy-logo,
      #toDos-logo {
        left: 0;
        transform: translateX(0);
      }
    }
  }

  .main-container {
    grid-template-areas:
      'bannerComp'
      'myBioComp'
      'portfolioComp';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    place-content: center;

    #sidebarComp {
      display: none;
    }
  }
}
